<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SaucedDemo Test Suite">

<listeners>
    <listener class-name="com.sauceddemo.listener.ExtentReporterNG"></listener>
</listeners>
    <test verbose="2" preserve-order="true" name="Sauced Demo Test">
        <classes>
            <class name="com.sauceddemo.LoginPageTest"></class>
            <class name="com.sauceddemo.HomePageTest"></class>
        </classes>
    </test>
</suite>